<h1>Add new ingredient</h1>
<form action="/admin/addingr" method="post">
	<table>
		<tr>
			<td>Ingredient name</td><td><input type="text" name="ingrname"></td>
		</tr>
		<tr>
			<td>Extra price</td><td><input type="text" name="ingrprice"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Done"></td>
		</tr>
	</table>
</form>
