<form action="/admin/addproduct" method="post">
	<table>
		<tr>
			<td>Product name</td><td><input type="text" name="productname"></td>
		</tr>
		<tr>
			<td>Product price</td><td><input type="text" name="productprice"></td>
		</tr>
		<%= erb(:ingredient_amounts, :layout => false, :locals => {:product => product, :prices => false}) %>
		<tr>
			<td></td>
			<td><input type="submit" value="Done"></td>
		</tr>
	</table>
</form>
