<html>
	<head>
		<title>PizzaPalvelu -- admin</title>
	</head>
	<body>
		<a href="/admin/orders">Orders</a>
		<a href="/admin/manage">Manage</a>
		<a href="/logout">Logout</a>
		<br/><br/><br/><br/>
		<%= yield %>
	</body>
</html>
