<tr>
<td><%= ingredient.attributes[:name] %></td>
<td><%= ingredient.attributes[:price].to_s('F') %>$</td>
<td><a href="/editingr/<%= ingredient.attributes[:id] %>">Edit</td>
<td><a href="/delingr/<%= ingredient.attributes[:id] %>">Delete</td>
</tr>
