<tr>
	<td><%= ingredient.attributes[:name] %></td>
	<% if price then %>
		<td><%= ingredient.attributes[:price].to_s('F') %>$</td>
	<% end %>
	<td><input width=3 type="text" name="ingr_<%= ingredient.id %>" 
		<% value = 0 %>
		<% if product != nil %>
			<% ingramount = product.ingredient_amounts.first(:ingredient => ingredient) 
			if ingramount != nil then %>
			<% value = ingramount.amount %>
		<%end%>
	<%end%>
	value="<%= value %>">
</td> 

</tr>
