<html>
	<head>
		<title>PizzaPalvelu</title>
	</head>
	<body>
		<% if(session[@name] == 'admin') then %>
			<a href="/orders">Orders</a>
			<a href="/manage">Manage</a>
			<a href="/logout">Logout</a>
		<% else %>
			<a href="/">Pizzas</a>
			<a href="/basket">Shopping Cart</a>
			<% if(session[@name] != nil) then %>
				<a href='/account'><%= session[@name] %></a>
				<a href='/logout'>Logout</a>
			<% else %>
				<a href="/login">Login</a>
				<a href="/register">Register</a>
				<% end %>
		<% end %>
		<br/><br/><br/><br/>
		<%= yield %>
	</body>
</html>
