<html>
	<head>
		<title>PizzaPalvelu</title>
	</head>
	<body>
		<a href="/">Pizzas</a>
		<a href="/basket">Shopping Cart</a>
		<a href='/account'><%= session[@name] %></a>
		<a href='/logout'>Logout</a>
		<br/><br/><br/><br/>
		<%= yield %>
	</body>
</html>
